body{
    background: rgb(245, 223, 223);
    margin-left: 100px;
    margin-right: 300px;
}

header{
    margin-top: 70px;
}

h1 {
    color: rgb(145, 35, 35);
    font-family: fantasy;
}

h2 {
    color: rgb(145, 35, 35);
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer{
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo{
    width: 50px; 
}